.container{
    display: flex;
    justify-content: space-between;
    margin: 4px;
    height: 60px;
    padding: 1rem 2rem;
    border-radius: 6px;
    background-color: black;
    color: white;
    margin-bottom: 20px;
}

right-navbar ul Navlink:hover, Navlink:active {
    color: blue;
}